@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');




body {
    align-content: center;
    justify-content: center;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-rows: 150px 100px 300px 200px;
    grid-template-columns: 400px 300px 400px;
    grid-template-areas:     
    "p1health    title       p2health  "
    "p1controls  fight       p2controls"
    "p1sprite    status      p2sprite  "
    "p1sprite    status       p2sprite ";

    
    background-image: url(images/animated-gifs-of-fighting-game-backgrounds-46.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

.text1 {
    grid-area: text1;
}

.status {
    grid-area: status;
}

h1 {
    font-family: 'Special Elite', cursive;
    text-align: center;
    color:antiquewhite;  
    font-size: 45px;
    
    
}

.Title {
    grid-area: title;
    align-items: center;
    border: azure;
    border-radius: 10%;
    border-width: 10px;
    border-style: double;
    background-image: url(images/fireworks.gif);
}

.player1Health {
    grid-area: p1health;
    border: azure;
    border-radius: 10%;
    border-width: 10px;
    border-style: double;
}
.player2Health {
    grid-area: p2health;
    border: azure;
    border-radius: 10%;
    border-width: 10px;
    border-style: double;
}
.fight {
    grid-area: fight;
    border: azure;
    border-radius: 10%;
    border-width: 10px;
    border-style: double;
}
.player1Sprite {
    grid-area: p1sprite;
    align-items: center;
    /* border: azure;
    border-radius: 10%;
    border-width: 10px;
    border-style: groove;
    border-style: groove;
    background-color: rgba(000, 000, 000, .1);
    background-size: 400px;
    size: 400px; */
    width: 300px;
    height: 300px;
    
}
.player2Sprite {
    grid-area: p2sprite;
    align-items: center;
    /* border: azure; */
    /* border-radius: 10%; */
    /* border-width: 10px; */
    /* border-style: groove; */
    background-color: rgba(000, 000, 000, .1);
    background-size: 400px;
    width: 300px;
    height: 300px;
    vertical-align: bottom;
}
.p1controls {
    grid-area: p1controls;
    border: azure;
    border-radius: 5%;
    border-width: 10px;
    border-style: groove;
}
.p2controls {
    grid-area: p2controls;
    border: azure;
    border-radius: 5%;
    border-width: 10px;
    border-style: groove;
}
.inst {
    grid-area: inst;
}
.sprite {
    height: 100%;
    width: 100%;
}